.sidebar{
  position: fixed;
  top:55px;
  left:0;
  bottom:0;
  background-color: white;
  width: 80px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{  
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.sidebar-link:hover{
  background-color: lightgray;
}

.sidebar-link img{
  width: 30px;
  margin-bottom: 4px;

}

.sidebar-link div{
  font-family: roboto;
  font-size: 11px;
}